@import url('https://fonts.googleapis.com/css2?family=Roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

img {
    max-width: 100%;
}

.navbar {
    background-color: #6749a8;
    height: auto;
    align-items: center;
    padding: 10px 10px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
}

.navbar a:hover {
    text-shadow: 0px 0px 5px black,
                0px 0px 20px black,
                0px 0px 40px white;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    padding-left: 10px;
}

ul {
    list-style-type: none;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    text-shadow: 0px 0px 5px black,
                0px 0px 20px black,
                0px 0px 40px white;
}

.navbar a {
    font-size: 18px;
    color: #F9FAF8;
}

.hero {
    background-color: white;
    min-height: 400px;
    margin-bottom: 20px;
}

.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
}

.hero h2 {
    font-size: 48px;
    color: #6749a8;
    font-weight: 900;
    margin-bottom: 0px;
    text-shadow: 0px 0px 1px #6749a8,
                0px 0px 2px #3882F6,
                0px 0px 5px white;
}

.hero h3 {
    font-size: 38px;
    color: #0e0667;
    font-weight: 900;
    margin-bottom: 30px;
}

.hero p {
    font-size: 20px;
    color: #0e0667;
}

.hero img {
    max-width: 400px;
    margin-left: 10px;
}

.hero button {
    font-size: 20px;
    border: 2px solid;
    border-color: #0e0667;
    color: #6749a8;
    background-color: white;
    margin-top: 20px;
    margin-left: 0px;
}

.boxes {
    align-items: center;
}

.boxes .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-items: center;
}

.boxes h2 {
    font-size: 36px;
    font-weight: 900;
    color: #0e0667;
    text-align: center;
    padding-bottom: 30px;
}

.box {
    flex: 1 0 auto;
    flex-flow: column;
    border: 2px;
    border-color: #3882F6;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px #6749a8;
    padding: 15px 20px;
    max-width: 200px;
    justify-content: center;
    text-align: center;
}

.box:hover {
    
}

.box i {
    flex-shrink: 0;
    font-size: 36px;
    margin-bottom: 10px;
    color: #0e0667;
}

.box h3 {
    color: #0e0667;
}
.box p {
    text-align: center;
}

.testimonial {
    background-color: #6749a8;
    padding: 30px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #E5E7EB;
    text-align: center;
    padding: 30px 20px;
}

.author {
    text-align: right;
    padding-right: 20px;
}

.cta {
    display: flex;
    justify-content: center;
    background-color: #0e0667;
    padding: 20px;
}

.cta .container {
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    max-width: 500px;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
}

.contact {
    flex-flow: column;
    justify-items: center;
    align-items: center;
}

button {
    background-color: #3882F6;
    width: fit-content;
    height: fit-content;
    border: none;
    border: 1px solid;
    padding: 5px;
    border-radius: 10px;
    border-color: white;
    margin-left: 15px;
    color: white;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: white;
    color: #3882F6;

}

.contact h2 {
    font-size: 18px;
    color: white;
}

.contact p {
    color: #E5E7EB;
}

.footer {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.footer ul {
    padding: 10px;
    display: flex;
}

.footer li {
    margin: 5px 10px;
    color: #6749a8;
    font-size: 30px;
}